app-2.11
bin
dist
log
logs
npm-debug.log
project/.bloop
project/metals.sbt
project/project
project/target
target
tmp
RUNNING_PID
.cache-main
.cache-tests
.classpath
.history
/.vscode
/.bloop
/.bsp
/.idea
/*.iml
/.idea_modules
/.metals
/.settings
/build/
/nbproject/private
/out
# netbeans
project.properties
project.xml
manifest.mf
genfiles.properties
build.xml
build-impl.xml

