@(implicit user: Option[models.User], messages: Messages, request: RequestHeader)
<section class="second-header">
	<div class="container">
		<section class="user-area">
			<nav class="nav">
				<ul class="nav-items">
				@if(user==None){
					<li class="nav-item user-item">
						<a class="login" href="/signIn">@messages("auth.login_form_link")</a>
					</li>
					<li class="nav-item">
						<a class="signup" href="/signUp">@messages("metas.signup.title")</a>
					</li>
				}else{
					<li class="nav-item user-item">
						<a class="user-name"  href="/users/@user.get.userID/@user.get.sluggedName">
							<img class="user-image menu-user-image" src="@{utils.Photo.getPhotoFromUser(user.get,32,32)}"/>
			                @user.get.name<span class="reputation" >(@user.get.karma)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="logout" href="/signOut">@messages("auth.logout_link")</a>
					</li>
				}	
					<li class="nav-item">
						<a id="about" class="about" href="/about">@messages("metas.about.title")</a>
					</li>
					@if(!(request.path.startsWith("/users") || 
						request.path.startsWith("/about") || 
						request.path.startsWith("/sign") || 
						request.path.startsWith("/ranking") ||
						request.path.startsWith("/tag/")	
						)){
					<li class="nav-item">
						<a class="new-users" onclick="hopscotch.startTour(tour);" href="#">@messages("metas.intro.title")</a>
					</li>
					}
					<li class="nav-item">
						<a href="#"	class="search-dropdown dropdown-trigger" data-target-id="dropdown-search-form">@messages("metas.search.title")</a>
					</li>
				</ul>
			</nav>
			<form class="search-form" action="/search" method="get">
				<input class="text-input" name="query" placeholder="search" type="text" />
				<input type="submit" value="go" />
			</form>
		</section>
	</div>
	<!-- <div class="container dropdown-target" id="dropdown-search-form">
		<form class="search-form" action="/search" method="get">
			<input class="text-input" name="query" placeholder="search" type="text" />
			<input type="submit" value="go" />
		</form>
	</div>-->
</section>
