@import play.api.i18n.Messages
@import play.twirl.api.Html
@(user: models.daos.slick.Tables.UsersRow, questionUser: models.QuestionUser, commentUser: models.CommentUser)(implicit messages: Messages, request: RequestHeader)
<html>
<body style="font-family:arial, sans-serif; font-size:12px;">
	<img style="height:40px;" src="@{if(request.secure){"https://"}else{"http://"}+request.host+routes.Assets.at("imgs/logo.png")}" />
	
	<p>	
		@messages("notification_mail.welcome", user.name)
	</p>
	
	<p>
		@Html(messages("notification_mail.where", (if(request.secure){"https://"}else{"http://"}+request.host+routes.QuestionController.question(questionUser.row.id,questionUser.informationRow.sluggedtitle)+"#comment-"+commentUser.row.id), questionUser.informationRow.title))
	</p>
	
	<p>
		@Html(messages("notification_mail.comment", commentUser.authorsRow.name, questionUser.informationRow.title, "", commentUser.row.htmlcomment))
	</p>
	
	<hr />
	<span style="display:block; color: #aaa;">
		@Html(messages("notification_mail.footer_message", messages("site.name")))
	</span>
</body>
</html>

