@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil


@(changePasswordForm: Form[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)
@println("hi2")
@main(messages("metas.change_password.title"), Some(user)) {
    <h2 class="title page-title subheader">@messages("change.password")</h2>
	<br/>
	<p>@messages("strong.password.info")</p>
	<br/>
     @helper.form(action = controllers.routes.ChangePasswordController.submit(), Symbol("autocomplete") -> "off") {
        @helper.CSRF.formField
        @helper.inputPassword(changePasswordForm("current-password"), Symbol("_hiddenLabel") -> messages("current.password"), Symbol("placeholder") -> messages("current.password"), Symbol("class") -> "required text-input form-control", Symbol("_showConstraints")  -> false)
        @helper.inputPassword(changePasswordForm("new-password"), Symbol("_hiddenLabel") -> messages("new.password"), Symbol("placeholder") -> messages("new.password"), Symbol("class") -> "form-control input-lg", Symbol("_showConstraints")  -> false)
        <br/>
  		<input class="post-submit big-submit submit" type="submit" id="submit"  value="@messages("reset")"></input>
    }
}
