@(user: models.User, socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit messages: Messages, request: RequestHeader)

@import play.api.Play
@import play.api.Play.current
@main("Privacy Policy and Cookies", Some(user)) {
<style> .indented {   padding-left: 50pt;   padding-right: 50pt; } </style> 

<br>
When you use this site's services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it.


This Privacy Policy explains:
   <ul>
    <li>Information we collect.</li>
    <li>How we use the information.</li>
    <li>Your Choices About Collection and Use of Your Information.</li>
    <li>Other items of note.</li>
   </ul>
   
<h2>Information we collect</h2>

<div class='indented'>We collect information to provide better services to our users -- to help us know what content we should be making available and what functionality we should be providing to help our users find that information. 

We collect information in the following ways:

    <h3>Information you explicitly give us.</h3> Some information such as an email address is mandatory to identify the account, while others are optional.

    <h3>Information we get from your use of our services.</h3> We collect information about the services that you use and how you use them. This information includes:

        <h4>Log information</h4>

        When you use our services we automatically collect and store certain information in server logs. This includes:
            <ul>
              <li>Details of how you used our service, such as your search queries </li>
              <li>Browser type, browser language, Internet protocol address and the date and time of your request</li>
              <li>Cookies that may uniquely identify your account</li>
            </ul>

        <h4>Cookies</h4>

         A cookie is a small text file that is stored in your web browser that allows a server to maintain state during a session and across multiple sessions. Cookies might be used for the following purposes: 
         (1) to enable certain functions; 
         (2) to provide analytics; 
         (3) to store your preferences; 
        this site uses cookies for login and authorization purposes as well as maintaining state of web applications</div>


<h2>How we use the information</h2>

<div class='indented'>We use the information we collect from all of our services to provide, maintain, protect and improve those services as well as to develop new ones. 

We may use the information to protect our servers and infrastructure from unauthorized use and denial-of-service attacks. 

We may use this information to offer you content specifically tailored to your needs, including more relevant search results. 

We, the service provider, process information on servers in countries around the world. We may process your information on a server located outside the country where you live. 
</div>

<h2>Your Choices About Collection and Use of Your Information</h2>

<div class='indented'>You can choose not to provide us with certain information, but that may result in you being unable to use certain features of our website because such information may be required in order for for functionality to work on our website.
</div>


<h2>Other Items of Note</h2>

<div class='indented'><h3>How We Protect Your Personal Information</h3>

We take appropriate security measures to help safeguard your personal information from unauthorized access and disclosure. However, no system can be perfectly secure and we do not promise, and you should not expect, that your personal information, searches, or other communications will always remain secure. Users should take care with how they handle and disclose information.


<h3>Children’s Privacy</h3>

Our website is oriented towards adults, and we do not allow or knowingly collect personal information of children under the age of 16.


<h3>Changes to This Privacy Policy</h3>

This Privacy Policy does not create rights enforceable by third parties or require disclosure of any personal information relating to users of the website.

The service provider will from time-to-time update this Privacy Policy to reflect changes in our practices and services.
<br><br> 
</div>
}
