@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)
@main(messages("forgot_password.form.title"), None) {
    <h2 class="title page-title subheader">@messages("forgot_password.form.title")</h2>
	<br/>
	<p>@messages("forgot_password.form.label.email")</p>
	<br/>
    @helper.form(action = controllers.routes.ForgotPasswordController.submit(), Symbol("autocomplete") -> "off") {
        @helper.CSRF.formField
        @helper.inputText(forgotPasswordForm("email"), Symbol("_label") -> messages("signup.form.email.label"), Symbol("placeholder") -> messages("email"),  Symbol("class") -> "required text-input form-control", Symbol("_showConstraints") -> false)
        <br/>
  		<input class="post-submit big-submit submit" type="submit" id="submit"  value="submit"/>
    }
}
