@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import java.util.UUID

@(form: Form[String], token: Long)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)

@main(messages("email.reset.password.subject"), None) {
    <h2 class="title page-title subheader">@messages("email.reset.password.subject")</h2>
	<br/>
	<p>@messages("signup.errors.password.length")</p>
	<br/>
    @helper.form(action = controllers.routes.ResetPasswordController.submit(token), Symbol("autocomplete") -> "off") {
        @helper.CSRF.formField
        @helper.inputPassword(form("password"), Symbol("_label") -> "New Password", Symbol("placeholder") -> messages("password"),  Symbol("class") -> "required text-input form-control", Symbol("_showConstraints") -> false)
        <br/>
  		<input class="post-submit big-submit submit" type="submit" id="submit"  value="@messages("reset")"></input>
    }
}

