@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import forms.SignUpForm.Data
@import helper._

@(signUpForm: Form[Data], user: models.User, socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry, google_datasitekey: String)(implicit request: RequestHeader, messages: Messages, messagesProvider: MessagesProvider)
@main(messages("site.name")+" - "+messages("metas.signup.title")) {
    <h2 class="title page-title subheader">@messages("signup.link")</h2>
        @{if(google_datasitekey.length > 0)Html("""<script src="https://www.google.com/recaptcha/api.js" async defer></script>""")}
        @helper.form(action = routes.SignUpController.submit(), args = 'id -> "SignUpForm", 'name -> "SignUpForm") {
            @helper.CSRF.formField
			@helper.inputText(signUpForm("name"), '_label -> messages("signup.form.username.label"), 'class -> "text-input", '_showConstraints -> false)<br/>
			@helper.inputText(signUpForm("email"),'_label -> messages("signup.form.email.label"), 'class -> "required text-input form-control", '_showConstraints -> false)
			<br/>
			@helper.inputPassword(signUpForm("password"), '_label -> messages("signup.form.password.label"), 'class -> "required text-input form-control", '_showConstraints -> false)
			<br/>
			 @{if(google_datasitekey.length > 0){Html(s"<div class='form-group g-recaptcha' data-sitekey='$google_datasitekey'></div>")}else{Html("<input type='hidden' id='g-recaptcha-response' name='g-recaptcha-response' value=''/>")}}
			<br/>
			<span>@messages("signup.form.usage_terms.text") <a href="/usage-terms">@messages("signup.form.usage_terms.link_content")</a></span><br/><br/>
            <input class="post-submit big-submit submit" type="submit" id="submit"  value="submit"/>
        }
        @snippets.sociallogins(socialProviders)
}


